* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$color:white;
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}

.container {
    height: 100%;

    .row {
        display: flex;
        background-color: orangered;
        color: $color;
        height: 10%;
        align-items: center;

        .row-left {
            width: 30%;

            .logo {
                padding: 0.5rem 1rem;
                width: 50%;
            }

            .logo img {
                border-radius: 50%;
                width: 50%;
            }
        }

        .row-right {
            display: flex;
            justify-content: flex-end;
            width: 70%;

            .menu a {
                text-decoration: none;
                color: $color;
                padding: 20px;
            }

            .menu a:nth-child(1) {
                color: black;
            }

            .haeder-icon {
                padding: 0 20px;
                font-size: 1.2rem;
            }
        }
    }

    .text {
        background-image:  url(img/background\ image.jpeg);
        background-repeat:  no-repeat;
        background-size: cover;
        height: 520px;
        color: $color;

        .width {
            @include flex;
            margin: auto;
            width: 50%;
            text-align: center;
            

            .heading {
                margin-top: 25%;
                margin-bottom: 3%;
            }
        }

        .para {
            margin-bottom: 3%;
            text-transform: uppercase;
        }


        button {
            background-color: rgb(177, 60, 17);
            color: $color;
            border: none;
            padding: 1rem 3rem;
            font-size: 1rem;
        }
    }

    .cotact-left{
        @mixin flex;
    }


}