.container {
    height:100%;

    .row {
        display: flex;
        background-color: orangered;
        color: white;
        justify-content: space-between;
        height: 10%;
        

        .row-left {
            width: 50%;

            .logo {
                padding: 0.5rem 1rem;
                width: 50%;
            }

            .logo img {
                border-radius: 50%;
                width: 40%;
            }
        }

        .row-right {
            display: flex;
            width: 50%;

            .menu a {
                text-decoration: none;
                color: white;
                padding: 0 5%;
            }

            .menu a:nth-child(1) {
                color: black;
            }

            .haeder-icon {
                padding-left: 2%;
            }
        }
    }
}