* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$color: white;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    height: 100%;

    .row {
        display: flex;
        background-color: orangered;
        color: $color;
        height: 10%;
        align-items: center;

        .row-left {
            width: 30%;

            .logo {
                padding: 0.5rem 1rem;
                width: 50%;
            }

            .logo img {
                border-radius: 50%;
                width: 50%;
            }
        }

        .row-right {
            display: flex;
            justify-content: flex-end;
            width: 70%;

            .menu a {
                text-decoration: none;
                color: $color;
                padding: 20px;
            }

            .menu a:nth-child(1) {
                color: black;
            }

            .haeder-icon {
                padding: 0 20px;
                font-size: 1.2rem;
            }
        }
    }

    .text {
        background-image: url(img/background\ image.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 520px;
        color: $color;

        .width {
            @include flex;
            margin: auto;
            width: 50%;
            text-align: center;


            .heading {
                margin-top: 25%;
                margin-bottom: 3%;
            }
        }

        .para {
            margin-bottom: 3%;
            text-transform: uppercase;
        }


        button {
            background-color: rgb(177, 60, 17);
            color: $color;
            border: none;
            padding: 1rem 3rem;
            font-size: 1rem;
        }
    }

    .contact {
        height: 350px;
        width: 100%;
        display: flex;
        gap: 1.5rem;
        font-size: 1.5rem;


        .contact-left {
            margin-top: 8rem;
            margin-left: 8rem;
            width: 25%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 1.1rem;

            .first-div {
                display: flex;
                font-weight: 1000;

                .ecommerce-heading {
                    margin-left: 1rem;
                }
            }

            .second-div {
                color: rgb(86, 83, 80);
            }

            .third-div {
                display: flex;
                gap: 1rem;
                font-size: 1.5rem;
            }
        }

        .contact-center {
            margin-right: 1rem;
            margin-top: 5.5rem;
            width:fit-content;
            height: fit-content;
            display: flex;
            gap: 5rem;

            .grid-column {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                color: rgb(100, 100, 99);

                .grid-heading{
                    font-weight: 1000;
                }
            }

            .grid-column ul {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }

            .grid-column ul li {
                list-style-type: none;
                text-decoration: none;
            }

            .grid-column ul li a {
                text-decoration: none;
                color: rgb(100, 100, 99);

            }
        }

        .contact-right {
            margin-top: 8rem;
            width: 20%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .first-div{
                color: rgb(100, 100, 99);
            }

            .second-div {
                display: flex;
                gap: 2rem;
                font-size: 1.5rem;

            }
        }

    }
    .hr{
        margin: auto;
        margin-top: 3rem ;
        margin-bottom: 2rem ;
        width: 70%;
    }
    .footer{
        color: rgb(86, 83, 80);
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }
}